.footer .logo-brand img {
    width: 179px;
    height: 47px;
    flex-shrink: 0;
    aspect-ratio: 179/47;
    object-fit: contain;
}

.footer p {
    color: var(--Grey-Darker, #444);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}

.footer h6 {
    color: var(--Blue-Normal, #0098F3);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer ul li {
    margin-bottom: 16px;
}

.footer ul li a {
    color: var(--Blue-Dark, #0072B6);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer .media i {
    font-size: 1.5rem;
    color: #0089DB;
}
@media(max-width:992px) {
    .footer ul li a  {
        font-size: 14px;
    }

    .footer .logo-brand img  {
        width: 169px;
        height: 37px;
    }
    .footer .media i {
        font-size: 1rem;
    }
}

@media(max-width:768px) {
   .footer ul li a  {
        font-size: 13px;
    }

    .footer .logo-brand img {
        width: 159px;
        height: 37px;
    }
}

@media(max-width:570px) {
    .footer ul li a  {
        font-size: 12px;
    }

    .footer .logo-brand img {
        width: 149px;
        height: 37px;
    }
}