.navbar .navbar-brand img {
    width: 179px;
    height: 47px;
    flex-shrink: 0;
    aspect-ratio: 179/47;
    object-fit: contain;
}

.navbar .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar .nav-link {
    color: var(--blue-dark-active, #00446D);
    text-align: center;
    /* Headline / Regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

@media(max-width:992px) {
    .navbar .nav-link {
        font-size: 15px;
    }

    .navbar .navbar-brand img {
        width: 169px;
        height: 37px;
    }
    .navbar .btn-primary {
        margin-bottom: 1rem;
    }
}

@media(max-width:768px) {
    .navbar .nav-link {
        font-size: 14px;
    }

    .navbar .navbar-brand img {
        width: 159px;
        height: 37px;
    }
}

@media(max-width:570px) {
    .navbar .nav-link {
        font-size: 12px;
    }

    .navbar .navbar-brand img {
        width: 149px;
        height: 37px;
    }
}